.navlogo{
    height: 24px;
    @include md{
        height: 42px;
    }
}
.nav-border-bottem{
    height:2px; 
    position: absolute; 
    top: 72px;
    left: 0;
    @include md{
        top: 90px;
    }
}
.nav-hover:hover{
    transform: scale(1.2);
}
.login-close-btn{
    color: #fff;
    position: absolute;
    top: 16px;
    right: 24px;
    @include md{
        top: 30px;
    }
}
.form-control{
    background: #1c1c1c;
    &::placeholder{
        color: #C1C1C1;
    }
}
.form-login{
    background: linear-gradient(99deg, #09ACF5, #62DB54);
    border: none;
    &:hover{
        background: linear-gradient(99deg, #108dc7, #45a53a);
    }
}
.other-way{
    p{
        transform: translateY(-50%);
    }
    img{
        width: 24px;
    }
}
.max-width-330{
    width: 100%;
    max-width: 336px;
    margin: 0 auto;
}