<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">
  <!-- swiper -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-g-700 fixed-top">
    <div class="container">
      <h1 class="d-none">Coding Home</h1>
      <a class="navbar-brand d-md-none" href="#"><img src="./assets/images/logo2.svg" alt="" class="navlogo my-3"></a>
      <a class="navbar-brand d-none d-md-flex" href="#"><img src="./assets/images/logo.svg" alt=""
          class="navlogo my-3"></a>

      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="material-icons-round text-success">
          drag_handle
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center pt-6 pt-md-0">
          <li class="nav-item me-lg-12 mt-md-5 mt-lg-0 nav-hover">
            <a class="nav-link active text-white fs-7" aria-current="page" href="#">首頁</a>
          </li>
          <li class="nav-item me-lg-12 nav-hover">
            <a class="nav-link text-white fs-7" href="#">課程介紹</a>
          </li>
          <li class="nav-item nav-hover">
            <a class="nav-link text-white d-flex align-items-center fs-7" role="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              <span class="material-icons-round me-1">
                account_circle
              </span>
              登入
            </a>
          </li>
        </ul>
      </div>

      <div class="w-100 d-flex nav-border-bottem">
        <div class="bg-primary w-50 h-100"></div>
        <div class="bg-secondary w-50 h-100"></div>
      </div>
    </div>
  </nav>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div
        class="container modal-content bg-g-700 border rounded-0 text-white py-10 pt-md-6 pb-md-12 position-relative">

        <div class="text-center mb-6 mb-md-8">
          <h5 class="modal-title" id="exampleModalLabel">登入</h5>
          <button type="button" class="btn-close login-close-btn btn-close-white" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <form class="max-width-330">
          <div class="mb-4 mb-md-6">
            <label for="Email1" class="form-label text-g-400">信箱</label>
            <input type="email" class="form-control bg-g900" id="Email1" placeholder="請輸入信箱">
          </div>
          <div class="mb-4 mb-md-6">
            <label for="Password" class="form-label text-g-400">密碼</label>
            <input type="password" class="form-control bg-g900" id="Password" placeholder="請輸入密碼">
          </div>
          <div class="mb-9 mb-md-15">
            <input type="submit" value="登入" class="d-flex py-2 w-100 fs-7 form-login text-white radius-8px">
          </div>
          <div class="w-100 d-flex flex-column justify-content-center align-items-center border-top other-way">
            <p class="bg-g-700 px-4">其他登入方式</p>
            <a href="#" class="btn btn-outline-light d-flex w-100 justify-content-center py-2 mb-4 mb-md-6">
              <img src="assets/images/icon_fb.svg" class="me-8" alt="Facebook 登入">
              Facebook 登入
            </a>
            <a href="#" class="btn btn-outline-light d-flex w-100 justify-content-center py-2">
              <img src="assets/images/icon_google.svg" class="me-8" alt="Google 登入">
              Google 登入
            </a>
          </div>
        </form>

      </div>
    </div>
  </div>

  <%- contents %>

    <footer class="footer bg-g-950">
      <div class="container text-center py-4 py-md-6">
        <p class="mb-0 text-g-600">Coding Home © 2022 All Rights Reserved</p>
      </div>

    </footer>

    <!-- swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
        startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
        initClassName: 'aos-init', // class applied after initialization
        animatedClassName: 'aos-animate', // class applied on animation
        useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
        disableMutationObserver: false, // disables automatic mutations' detections (advanced)
        debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
        throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)


        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        offset: 120, // offset (in px) from the original trigger point
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 800, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them
        anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

      });
    </script>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>