.article{
    .square{
        width: 32px;
        height: 32px;
    }
    .top-left{
        border-radius: 12px 0 0 0;
    }
    .top-right{
        border-radius: 0 12px 0 0;
    }
    .bottom-left{
        border-radius: 0 0 0 12px;
    }
    .bottom-right{
        border-radius: 0 0 12px 0;
    }
    .article-hover{
        cursor: pointer;
    }
    .article-hover:hover{
        a{
            text-decoration: underline;
        }
        
    }
    @include xl{
        .article-hover:hover{
            .square{
                border-color: #62DB54 !important;
            }
        }
    }
}