.info{
    img{
        object-fit: cover;
    }
    .info-bg{
        height: 263px;
        @include lg{
            height: 615px;
        }
    }
    .info-bg:nth-child(1){
        background: url('../images/info01.jpg') center;
        background-size: cover;
    }
    .info-bg:nth-child(2){
        background: url('../images/info02.jpg') center;
        background-size: cover;
    }
    .info-bg:nth-child(3){
        background: url('../images/info03.jpg') center;
        background-size: cover;
    }
    .info-bg:nth-child(4){
        background: url('../images/info04.jpg') center;
        background-size: cover;
    }
    .content{
        background: rgba(28, 28, 28, .9);
        transition: .3s;
        @include lg{
            text-align: left !important;
            &:hover{
                background: rgba(0, 0, 0, .3);
                span{
                    color: #62DB54 !important;
                }
                .green-line{
                    background: #62DB54 !important;
                }
            }
        }
    }
    span{
        font-size: 32px;
        @include lg{
            color: #FFFFFF !important;
            transition: .3s;
        }
    }
    .green-line{
        @include lg{
            background: #FFFFFF !important;
            transition: .3s;
        }
    }
    p{
        opacity: .8;
        @include lg{
            font-size: 14px !important;
        }
        @include xl{
            font-size: 18px !important;
        }
    }
    h3{
        @include lg{
            font-size: 24px !important;
        }
    }
    
}