
.popular{
    .popular-hover:hover{
        outline:2px solid #62DB54;
    }
    .teacher-img{
        width: 100px;
        height: 100px;
    }
    h4{
        @include md{
            min-height: 60px;
        }
        @include lg{
            font-size: 16px !important;
        }
        
    }
    
}